*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orangered;
    position: fixed;
    margin-bottom: 30px;
    width: 100%;
    z-index: 1;
    
}


section{
    width: 80%;
    margin: auto;
    height: 100px;
}

.flexHeader{
    display: flex;
    justify-content: space-between;
}

.manWomenKids{
    width: 20%;
    /* background-color: green; */
    height: 100px;
}

.title-left{
    margin: auto;
    text-align: center;
    color: white;
}



.title-left:hover {
    text-decoration: underline;
}

.logo{
    width: 40%;
    /* background-color: green;
    /* height: 100px; */
}

#booleanLogo{
    width: 30%;
    margin: auto;
}

.flexLogo{
    display: flex;
    justify-content: center;
}

.headerIcons{
    width: 20%;
    /* background-color: green; */
    height: 100px;
    /* position: relative */
}

.fa-regular{
    color: white;
}

.fa-solid{
    color: white;
}

.flexIcons{
    display: flex;
    justify-content: flex-end;
}

.fa-bag-shopping{
    margin-left: 3%;
    margin-right: 3%;
}

.fa-heart{
    margin-left: 3%;
}

.iconContainer{
    margin-top: 40px;
    margin-right: 45px;
}

/* main */

main{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.cardsContainer{
    width: calc(90% / 3);
    margin: 15px;
}

.image{
    max-width:100%;
    max-height:100%;
}

.redText{
    color: red;
    display: inline;
}

.lineText{
    text-decoration: line-through;
    display: inline;
}

.imageContainer{
    position: relative;
}

.discountContainer{
    position: absolute;
    bottom: 25px;
    left: 0;
    
}

.discount{    
    text-align: center;
    background-color: red;
    width: 50px;
    height: 20px;
}

.Sostenibilità{
    text-align: center;

    background-color: green;
    width: 50px;
    height: 20px;
}

.heartContainer{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 15px;
}

.flexDiscount{
    display: flex;
    flex-direction: row;
}

.fa-gratipay{
 /*    color: black; */
    font-size: 45px;
}

.flexHeart{
    display: flex;
    justify-content: center;
}

.flexCard{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.card2{
    margin: 20px;
}