@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: orangered;
    position: fixed;
    margin-bottom: 30px;
    width: 100%;
    z-index: 1;
}


section{
    width: 80%;
    margin: auto;
    height: 90px;
}

.flexHeader{
    display: flex;
    justify-content: space-between;
}

.manWomenKids{
    width: 20%;
    /* background-color: green; */
    height: 100px;
}

.title-left{
    margin: auto;
    text-align: center;
    color: white;
}



.title-left:hover {
    text-decoration: underline;
}

.logo{
    width: 40%;
    /* background-color: green;
    /* height: 100px; */
}

#booleanLogo{
    width: 30%;
    margin: auto;
}

.flexLogo{
    display: flex;
    justify-content: center;
}

.headerIcons{
    width: 20%;
    /* background-color: green; */
    height: 100px;
    /* position: relative */
}

.fa-regular{
    color: white;
}

.fa-solid{
    color: white;
}

.flexIcons{
    display: flex;
    justify-content: flex-end;
}

.fa-bag-shopping{
    margin-left: 3%;
    margin-right: 3%;
}

.fa-heart{
    margin-left: 3%;
}

.iconContainer{
    margin-top: 40px;
    margin-right: 45px;
}

/* main */

main{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.cardsContainer{
    width: calc(90% / 3);
    margin: 15px;
}


.redText{
    color: red;
    display: inline;
}

.lineText{
    text-decoration: line-through;
    display: inline;
}



.discountContainer{
    position: absolute;
    bottom: 25px;
    left: 0;
    
}

.discount{    
    text-align: center;
    color: white;
    background-color: red;
    width: 50px;
    height: 20px;
}

.Sostenibilità{
    text-align: center;
    color: white;
    background-color: green;
    width: auto;
    height: 20px;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 3px;
}

.heart:hover {
    color: red;
}

.heartContainer{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 15px;
}

.flexDiscount{
    display: flex;
    flex-direction: row;
}

.fa-gratipay{
 /*    color: black; */
    font-size: 45px;
}

.flexHeart{
    display: flex;
    justify-content: center;
}

.flexCard{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.card2{
    margin: 20px;
}

.imageContainer{
    position: relative;

}


.image{
/*     max-width:100%;
    max-height:100%; */
    width: 100%;
    object-fit: contain;
}

.image2{
    display: none;
}

.imageContainer:hover .image1{
    display: none;
}

.imageContainer:hover .image2{
    display: block;
}


/* footer */

footer{
    background-color: black;
    margin-top: 25px;
}


.flexFooter{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.legalFooter{
    color: white;
    margin-top: 15px;
}

#srl{
    margin-bottom: 10px;
}

.findUs{
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
}

.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-square-pinterest,
.fa-square-youtube{
    color: white;
}

.flexInfo{
    display: flex;
    flex-direction: row;
}

.middleInfo{
    margin-left: 10px;
    margin-right: 10px;
}

.info:hover {
    text-decoration: underline;
}